.container{
    width: 50%;
    height: 100%;
    margin: 9rem auto;
 }

 h1{
    text-align: center;
    color: #1a1919;
 }

 .containerInput{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.2rem solid var(--input-bottom-color);
 }

 .input{
    height: 4rem;
    outline: none;
    border: none;
    border-bottom: 0.1rem solid var(--input-bottom-color);
    background: var(--input-background-color);
 }

 .addBtn{
    width: 6.5rem;
    height: 3rem;
    border-radius: 0.5rem;
    background: var(--add-btn-background);
    color: var(--btn-color);
    outline: none;
    border: 0.1rem solid var(--add-btn-border);
    cursor: pointer;
 }

 .addBtn:hover{
    background: var(--add-btn-border);
 }

 .containerList{
   width: 100%;
   height: 7rem;
   display: flex;
   justify-content: space-around;

}

.containerToDo{
   display: flex;
   width: 80%;
   height: 100%;
   align-items: center;
   justify-content: space-between;
}

.deleate{
   width: 20%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.deleateBtn{
   width: 6.5rem;
   height: 3rem;
   border-radius: 0.5rem;
   color: var(--btn-color);
   outline: none;
   background: var(--deleate-background-color);
   border: 0.1rem solid var(--deleate-border-color);
   cursor: pointer;
}

.deleateBtn:hover{
   background-color: var(--deleate-border-color);
 }

 .edit{
   width: 20%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.editBtn{
   width: 6.5rem;
   height: 3rem;
   border-radius: 0.5rem;
   color: #fff;
   outline: none;
   background: var(--edit-background-color);
   border: 0.1rem solid var( --edit-border-color);
   cursor: pointer;
}

.editBtn:hover{
   background-color: var( --edit-border-color);
 }
